<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/04a2ad65c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <script src="/public/assets/js/main.js" defer></script>
    <title>PGD Uršna sela</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="logo"><img src="../public/assets/images/logo.png" alt="" /></div>
        <div class="title">Prostovoljno gasilsko društvo <span>Uršna sela</span></div>
      </div>
    </header>
    <nav>
      <ul>
        <a href="#notifications-anchor"
          ><li><i class="fas fa-bullhorn"></i>Obvestila</li></a
        >
        <a href="#news-anchor"
          ><li><i class="far fa-newspaper"></i>Novice</li></a
        >
        <a href="#vehicles-anchor"
          ><li><i class="fas fa-truck"></i>Vozila</li></a
        >
        <a href="#calendar-anchor"
          ><li><i class="far fa-calendar"></i>Dvorana</li></a
        >
      </ul>
    </nav>
    <main>
      <section class="hero">
        <div class="hero-text">
          Z <br />
          gasilskim <br />
          pozdravom <br />
          <span
            >na <br />
            pomoč!
          </span>
        </div>
        <div class="action-arrow">
          <a href="#welcome-anchor"><i class="far fa-arrow-alt-circle-down"></i></a>
        </div>
      </section>
      <section class="welcome" id="welcome-anchor">
        <div class="welcome-title">DOBRODOŠLI</div>
        <div class="welcome-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat id reiciendis labore quisquam rem iure delectus! Cupiditate obcaecati perspiciatis eligendi molestias corporis beatae quam
          nobis laudantium! Illo modi ratione natus iste maxime repellat minus porro, sequi corporis cumque facilis fugit dignissimos laudantium possimus ut! Sunt rem hic vel quasi voluptate.
        </div>
        <div class="welcome-image"><img src="/public/assets/images/gasilski-dom.jpg" alt="" /></div>
      </section>
      <section class="notifications" id="notifications-anchor">
        <div class="notifications-title">OBVESTILA</div>
        <div class="notification-wrapper">
          <div class="notification-date"><i class="far fa-calendar"></i> <%= ` ${notification.date.getDate()}.${notification.date.getMonth()}.${notification.date.getFullYear()}` %></div>
          <div class="notification-title"><%=notification.title %></div>

          <div class="notification-content"><%=notification.content %></div>
        </div>
      </section>
      <section class="news" id="news-anchor">
        <div class="news-title">NOVICE</div>
        <div class="news-wrapper">
          <% posts.forEach(post => { %>
          <div class="post-wrapper">
            <div class="post-date"><i class="far fa-calendar"></i> <%= ` ${post.date.getDate()}.${post.date.getMonth()}.${post.date.getFullYear()}` %></div>
            <div class="post-title"><%= post.title %></div>
            <div class="post-image"><img src="/public/uploads/<%=post.images[0].path  %> " alt="" /></div>
            <div class="post-content"><%= post.content %></div>
            <a href="post/<%= post.slug %>"><div class="post-button">Preberi več</div></a>
          </div>
          <% }) %>
        </div>
      </section>
      <section class="vehicles" id="vehicles-anchor">
        <div class="vehicles-title">VOZILA</div>
        <div class="vehicles-description">Za hitro in uspešno reševanje so potrebna redno vzdrževana vozila. Spodaj vam predstavljamo naš vozni park.</div>
        <div class="vehicles-wrapper">
          <div class="vehicle-wrapper">
            <div class="vehicle-image"><img src="/public/assets/images/vehicles/vehicle-01.png" alt="" /></div>
            <div class="vehicle-title">Rover</div>
            <div class="vehicle-description">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis cum quas ullam, eaque et ipsam ipsa quidem eum quo enim officiis minus vel minima? Dignissimos ullam animi nihil sed
              quia quam ipsam excepturi, exercitationem dolorum facere suscipit qui, nemo quos.
            </div>
          </div>
        </div>
      </section>
      <section class="calendar" id="calendar-anchor">
        <div class="calendar-title">DVORANA</div>
        <div class="calendar-wrapper">
          <iframe
            src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23f3f3f3&amp;ctz=Europe%2FBelgrade&amp;src=MG1nY2sycGlzdG1hYzBkNjkwbmRpcDIxa2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23F4511E&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;hl=sl"
            style="border-width: 0;"
            width="800"
            height="600"
            frameborder="0"
            scrolling="no"
          ></iframe>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-wrapper">
        <div class="left-side">
          <div class="logo"><img src="../public/assets/images/logo.png" alt="" /></div>
        </div>
        <div class="right-side">
          <i class="fas fa-map-marker-alt"></i> Gasilska pot 5, <br />
          8323 Uršna sela <br />
          <i class="fas fa-phone"></i> 051-330-914
        </div>
      </div>
    </footer>

    <% posts.forEach(post => { %>
    <h2><%= post.title %></h2>
    <p><%= post.date %></p>
    <p><%= post.content %></p>
    <% }) %>
  </body>
</html>
